{% extends 'layout/ContentLayout.html' %}
{% load static %}

{#加载头部#}
{% block header %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock %}



{#加载主要内容#}
{% block main %}

    <div class="content clear">
        <div class="home-main fl">

            {% include 'components/Carousel.html' %}

            <div class="main-recommend">
                <h4>文章推荐</h4>
                <ul class="article-recommend">
                    <li class="clear">
                        <img src="" alt="" class="fl">
                        <div class="fl article-content">
                            <h4>
                                <a href="#">住在手机里的朋友</a>
                            </h4>
                            <p>
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                ...
                            </p>
                            <div>
                                <span> <i class="glyphicon glyphicon-calendar"></i></span>
                                <span> <i class="glyphicon glyphicon-comment"></i> 评论</span>
                                <span> <i class="glyphicon glyphicon-eye-open"></i> 浏览</span>
                            </div>
                        </div>


                    </li>
                    <li class="clear">
                        <img src="" alt="" class="fl">
                        <div class="fl article-content">
                            <h4>
                                <a href="#">住在手机里的朋友</a>
                            </h4>
                            <p>
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                ...
                            </p>
                            <div>
                                <span> <i class="glyphicon glyphicon-calendar"></i></span>
                                <span> <i class="glyphicon glyphicon-comment"></i> 评论</span>
                                <span> <i class="glyphicon glyphicon-eye-open"></i> 浏览</span>
                            </div>
                        </div>


                    </li>
                    <li class="clear">
                        <img src="" alt="" class="fl">
                        <div class="fl article-content">
                            <h4>
                                <a href="#">住在手机里的朋友</a>
                            </h4>
                            <p>
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                ...
                            </p>
                            <div>
                                <span> <i class="glyphicon glyphicon-calendar"></i></span>
                                <span> <i class="glyphicon glyphicon-comment"></i> 评论</span>
                                <span> <i class="glyphicon glyphicon-eye-open"></i> 浏览</span>
                            </div>
                        </div>


                    </li>
                    <li class="clear">
                        <img src="" alt="" class="fl">
                        <div class="fl article-content">
                            <h4>
                                <a href="#">住在手机里的朋友</a>
                            </h4>
                            <p>
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                ...
                            </p>
                            <div>
                                <span> <i class="glyphicon glyphicon-calendar"></i></span>
                                <span> <i class="glyphicon glyphicon-comment"></i> 评论</span>
                                <span> <i class="glyphicon glyphicon-eye-open"></i> 浏览</span>
                            </div>
                        </div>


                    </li>
                    <li class="clear">
                        <img src="" alt="" class="fl">
                        <div class="fl article-content">
                            <h4>
                                <a href="#">住在手机里的朋友</a>
                            </h4>
                            <p>
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                ...
                            </p>
                            <div>
                                <span> <i class="glyphicon glyphicon-calendar"></i></span>
                                <span> <i class="glyphicon glyphicon-comment"></i> 评论</span>
                                <span> <i class="glyphicon glyphicon-eye-open"></i> 浏览</span>
                            </div>
                        </div>


                    </li>
                    <li class="clear">
                        <img src="" alt="" class="fl">
                        <div class="fl article-content">
                            <h4>
                                <a href="#">住在手机里的朋友</a>
                            </h4>
                            <p>
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                通通通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后郑重或是出于礼貌用手机记下对方的电话号码。在快节奏的生活里，我们不知不觉中就成为住在别人手机里的朋友。又因某些意外，变成了别人手机里匆忙的过客，这种快餐式的友谊
                                ...
                            </p>
                            <div>
                                <span> <i class="glyphicon glyphicon-calendar"></i></span>
                                <span> <i class="glyphicon glyphicon-comment"></i> 评论</span>
                                <span> <i class="glyphicon glyphicon-eye-open"></i> 浏览</span>
                            </div>
                        </div>


                    </li>
                    {% for item in all_articles %}
                        <li class="clear">
                        <img src="" alt="" class="fl">
                        <div class="fl article-content">
                            <h4>
                                <a href="#">{{ item.title }}</a>
                            </h4>
                            <p>
                                {{ item.content }}
                            </p>
                            <div>
                                <span> <i class="glyphicon glyphicon-calendar"></i><span>{{ item.create_date }}</span></span>
                                <span> <i class="glyphicon glyphicon-comment"></i> 评论<span></span></span>
                                <span> <i class="glyphicon glyphicon-eye-open"></i> 浏览{{ item.read_num }}</span>
                            </div>
                        </div>


                    </li>
                    {% endfor %}
                </ul>

            </div>

        </div>


        <div class="home-recommend fr">
            {% if is_login %}
                <ul class="home-userinfo">
                    <li><span>用户名:</span>{{ user_infos.name }}</li>

                    {% if user_infos.sex == 0 %}
                        <li><span>性别:</span>男</li>
                    {% elif user_infos.sex == 1 %}
                        <li><span>性别:</span>女</li>
                    {% else %}
                        <li><span>性别:</span>其他</li>
                    {% endif %}
                    <li><span>邮箱:</span>{{ user_infos.email }}</li>
                    <li><span>电话:</span>{{ user_infos.tel }}</li>
                    <li>
                        <button type="button" class="btn logout btn-default" data-target=".model">注销</button>
                        <a href="/change-info" class="btn btn-default detail">详情</a>

                    </li>
                </ul>
            {% else %}
                {% include 'components/Login.html' %}
            {% endif %}

        </div>
    </div>

{% endblock %}


{#加载尾部#}
{% block footer %}
    <script src="{% static 'home/home.js' %}"></script>
{% endblock %}
