{% load static %}
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{%  static 'plugins/FormValidation/js/formValidation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/FormValidation/js/framework/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/FormValidation/js/language/zh_CN.js' %}"></script>
<script src="{% static 'plugins/utils/utils.js' %}"></script>
<script src="{% static 'plugins/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>