{% load static %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'global/global.css' %}">
<link rel="stylesheet" href="{% static 'plugins/FormValidation/css/formValidation.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datetimepicker/css/datetimepicker.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
